/*body { 
  background: url(../media/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#hompageimg {
    background: url(../media/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
}

/*Generic*/

h1.CaMunity {
    margin-bottom: 20px;
}

.center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Navbar*/

/*.navbar {
  margin-bottom: 10px;
  min-height: 0px;
}

.navbar-collapse {
  background-color: #01807E;
  border-radius: 15px;
  text-align: center;
}

.navbar-nav.nav-justified > li {
    float:none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #F05D22;
  color: white;
}

.navbar-default {
  border-style: none;
  background-color: #fff;
  margin-bottom: 10px;
}

.navbar-toggle {
  left: 50%;
  margin-left: -22px;
  float: none;
}*/

/*buttons*/

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #fff;
    border: 1px solid black;
    color: black;
    font-size: 1.1em;
    padding: 14px 24px;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: black;
}
.btn-primary:active, .btn-primary.active {
    background: black;
    box-shadow: none;
}

.raised {
    box-shadow: 0 3px 0 0 #333;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.raised:active, .btn-primary.raised.active {
    background: black;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn-facebook {
    background: #3b5998;
    border: 1px solid black;
    color: black;
    font-size: 18px;
}

.btn-google {
    background: #d62d20;
    border: 1px solid black;
    color: black;
    font-size: 16px;
}

.btn-google:hover, .btn-facebook:hover {
    color: black;
}
/*new job form*/
.form-newjob {
    width: 80%;
    margin: 0 auto; 
}

/*Login Form*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox .form-newjob{
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 40px;
    padding: 5px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    opacity: 0.95;
}

/*.login-title {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 5px;
}

.third-party-login{
	margin-top: 30px;
}

.fa {
	padding-left: 15px;
	padding-right: 15px;
}*/

.left-dashboard {
    border-right-style: solid;
}
.right-dashboard {
    border-left-style: solid;
}