/*Generic------------------------------------------------*/

body {
  background-color: #eee;
}

h1.CaMunity {
  margin-bottom: 40px;
  font-size: 2.5em;
  font-family: 'Spinnaker',sans-serif;
}

.center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

textarea {
  resize: none;
}

/*Colors--------------------------------------------------*/

.white {
  background-color: #fff;
}

.light-grey {
  background-color: #eee;
}

.dark-grey {
  background-color: #b4b9b9;
}

.rounded {
  border-radius: 15px;
}

.rounded-top {
  border-radius: 15px 15px 0px 0px;
}

.rounded-bottom {
  border-radius: 0px 0px 15px 15px;
}

/*Homepage------------------------------------------------*/

h2.homepage {
  font-size: 2.5em;
}

.navbar.navbar-default.homepage {
  margin-bottom: 0px;
}

.navbar-default.homepage {
  background-color: transparent;
  border: none;
}

.navbar-default.homepage .navbar-brand {
  color: white;
  font-size: 2.2em;
  font-family: 'Spinnaker',sans-serif;
}

.navbar-default.homepage .navbar-nav>li>a {
  color: white;
  font-weight: bold;
}

.jumbotron {
  margin-bottom: 0px;
  height: 400px;
}

.jumbotron.main {
  background:url(../media/background-one.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;
  padding-top: 10px;
}

#section-one {
  margin-top: 120px;
  color: white;
}

/*Navbar------------------------------------------------*/

.navbar {
  border: none;
}

.navbar-default.site {
  background-color: white;
  border-bottom: 1px solid;
  border-color: #cfd2d3;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

@media (max-width: 768px) {
  .section-one.image img {
    display: none;
  }
}

/*buttons------------------------------------------------*/

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #fff;
  border: 1px solid black;
  color: black;
  font-size: 1.1em;
  padding: 14px 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: black;
}

.btn-primary:active, .btn-primary.active {
  background: black;
  box-shadow: none;
}

.raised {
  /*box-shadow: 0 3px 0 0 #333;*/
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

.raised:active, .btn-primary.raised.active {
  background: black;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

/*Sign up social------------------------------------------------*/

.signup-img {
  background: url(../media/background-one.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

.btn-facebook {
  background: #3b5998;
  color: white;
  font-size: 18px;
  opacity: 1;
}

.btn-google {
  background: #d62d20;
  color: white;
  font-size: 16px;
}

.btn-google:hover, .btn-facebook:hover {
  color: black;
}

.account-wall {
  margin-top: 25%;
  padding: 5px 0px 20px 0px;
  background-color: rgba(255,255,255,0.9);
  -moz-box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
}

/*Profile page------------------------------------------------*/

.profilepicture {
  margin-bottom: 30px;
  padding-left: 20px;
}

.details {
  min-height: 200px;
}

.photos {
  height: 330px;
}

.photos:hover .delete{
  display: block;
}

img.photo_img {
  max-height: 300px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.photo-title {
  text-align: center;
}

.delete {
  text-align: center;
  display: none;
}

/*Dashboard------------------------------------------------*/

.left-dashboard.col-md-2 {
  margin-top: 20px;
}