extend layout

block content

	.container-fluid   
		include navbar
		.container
			.row
				.col-md-12
					h1 Chat
				if data.length != 0
					each chat in data
						.col-md-12
							if myid === chat.sender
								.panel.panel-info
									.panel-heading #{chat.name}
									.panel-body #{chat.message}
							else
								.panel.panel-success
									.panel-heading #{chat.name}
									.panel-body #{chat.message}	
			.row
				.col-md-12
					.input-group-lg
						form.form-horizontal(role="form" action="/chat/{id*}" method="POST")
							input.form-control(type="text" name="chat" placeholder="Click here to type a chat message.")

	include scripts
	script.

		$("input").keypress(function(event) {
		    if (event.which == 13) {
		        event.preventDefault();
		        console.log("hi");
		        $("form").submit();
		    }
		});