extend layouts/default

block content

	.jumbotron.main
		.container-fluid.homepage
			.row
				.navbar.navbar-default.homepage
					.container
						.navbar-header
							button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#target")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand(href="/") CaMunity

						.collapse.navbar-collapse#target
							ul.nav.navbar-nav
								li
									a
							ul.nav.navbar-nav.navbar-right
								li
									a(href="signup/social") Sign Up
								li
									a(href="help") Help
								li
									a(href="signup/social") Login 
		.container.center#section-one
			h2.homepage.center.section-one 
	.jumbotron.white
		.container
			h2.homepage.center How CaMunity Works
	.jumbotron.light-grey
		.container
			h2.homepage.center Why Use CaMunity
	.jumbotron.dark-grey
		.container
			h2.homepage.center Our Community