extend layouts/default

block content

	.container-fluid
		.row
			.navbar.navbar-default.homepage
				.container
					.navbar-header
						button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#target")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="/") CaMunity

					.collapse.navbar-collapse#target
						ul.nav.navbar-nav
							li
								a
						ul.nav.navbar-nav.navbar-right
							li
								a(href="signup/social") Sign Up
							li
								a(href="help") Help
							li
								a(href="signup/social") Login 

	.jumbotron.one
		.container
			h1 Section a
			p Photo + Post a Job
	.jumbotron.two
		.container
			h1 Section b
			p How it works
	.jumbotron.three
		.container
			h1 Section c
			p Why use CaMunity
	.jumbotron
		.container
			h1 Section d
			p Our community