extend layout

block content

	.container
		h1.text-center.CaMunity CaMunity
		.center
			form(action="/client", method="POST")
				input.btn.btn-primary.btn.lg.raised(type="submit", value="I NEED a Photographer")
		.center
			form(action="/photographer", method="POST")
				input.btn.btn-primary.btn.lg.raised(type="submit", value="I AM a Photographer")