extend layout

block content

	.container
		h1.text-center.CaMunity CaMunity
		.center
			button.btn.btn-primary.btn.lg.raised I NEED a Photographer
		.center
			button.btn.btn-primary.btn.lg.raised I AM a Photographer

	//- .row.login
	//- 	.col-sm-6.col-md-4.col-md-offset-4
	//- 		h1.text-center.login-title
	//- 		.account-wall
	//- 			img.profile-img(src='../../public/media/javelin.png', alt='')
	//- 			//- For puser profile pictures

	//- 			form.form-signin(action='login', method='POST')
	//- 				input.form-control(type='text', placeholder='Email', required='', autofocus='')
	//- 				input.form-control(type='password', placeholder='Password', required='')
	//- 				button.btn.btn-lg.btn-primary.btn-block(type='submit', value='login')
	//- 					| Sign in

	//- 			a.text-center.new-account(href='/signup') Create an account

	//- 			p.text-center.third-party-login Or login using the options below
	//- 			.text-center
	//- 				span
	//- 					.fa.fa-facebook
	//- 				span
	//- 					.fa.fa-google
	//- 				span
	//- 					.fa.fa-twitter
	//- 				span
	//- 					.fa.fa-linkedin
	//- 				span
	//- 					.fa.fa-github
	//- 				span
	//- 					.fa.fa-instagram
