extend layouts/default

block content

	.container
		.col-sm-6.col-md-4.col-md-offset-4
			.account-wall
				h1.text-center.CaMunity CaMunity
				
				form(action="/client", method="POST")
					input.btn.btn-primary.btn-lg.raised(type="submit", value="I NEED a Photographer")
				form(action="/photographer", method="POST")
					input.btn.btn-primary.btn-lg.raised(type="submit", value="I AM a Photographer")