extend layouts/default

block content

	.signup-img
		.container-fluid
			.col-sm-6.col-md-4.col-md-offset-4
				.account-wall
					h1.text-center.CaMunity CaMunity

					a.btn.btn-facebook.btn-lg.raised(href="/facebook") Facebook
					a.btn.btn-google.btn-lg.raised(href="/google") Google
					p.text-center Sign in with Facebook or Google