extend layouts/default

block content

	.container-fluid
		include includes/navbar
		.container
			.col-md-12
				h3 Upload an image to your photo gallery
				br
			.col-md-6
				input(type="file" id="file_input")
				p(id="status") Please select a file

				form(method="POST" action="/submit_form")
					input(type="hidden" id="photo_url" name="photo_url")
					input.form-control(type="text" id="title" name="title" placeholder="Enter a title" size="40")
					br
					br
					input.btn.btn-default(type="submit" value="Upload your photo")
			.col-md-6
				img(id="preview" src="")
					
	include includes/photo